@page "/userhome"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp_DB_Entity.Data.MySql_DB_Context UserDB
@using BlazorApp_DB_Entity.Modell
@rendermode InteractiveServer

<h3>User Index</h3>
<hr />

<a href="/usercreate" class="btn btn-primary">Create a new user</a>

<QuickGrid Class="table" Items="UserDB.User">
    <PropertyColumn Title="Id:" Property="userid=>userid.Id"/>
    <PropertyColumn Title="Név:" Property="username=>username.Name" Sortable="true"/>
    <PropertyColumn Title="E-mail:" Property="useremail=>useremail.Email" Sortable="true"/>
    <PropertyColumn Title="Jelszó:" Property="userpassword=>userpassword.Password" Sortable="true"/>

    <TemplateColumn Context="user" Title="Szerkesztés">
        <a href="@($"useredit?Id={user.Id}")" class="btn btn-info">Edit</a>
        <a href="@($"userdelete?Id={user.Id}")" class="btn btn-danger">Delete</a>
    </TemplateColumn>
</QuickGrid>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Név</th>
            <th>E-mail</th>
            <th>Jelszó</th>
            <th>Szerkesztés</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in UserDB.User)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
                <td>
                    <a href="@($"useredit?Id={item.Id}")" class="btn btn-info">Edit</a>
                    <a href="@($"userdelete?Id={item.Id}")" class="btn btn-danger">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>

<div class="card-container">
    @foreach (var item in UserDB.User)
    {
        <div class="card">
            <div>@item.Id</div>
            <div>@item.Name</div>
            <div>@item.Email</div>
            <div>@item.Password</div>
        </div>
    }
</div>