@page "/userhome"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorApp_DB_Entity.Data.MySql_DB_Context UserDB
@using BlazorApp_DB_Entity.Modell

<h3>User Index</h3>
<hr />

<a href="/usercreate" class="btn btn-primary">Create a new user</a>

<QuickGrid Class="table" Items="UserDB.User">
    <PropertyColumn Title="Id:" Property="userid=>userid.Id"/>
    <PropertyColumn Title="Név:" Property="username=>username.Name"/>
    <PropertyColumn Title="E-mail:" Property="useremail=>useremail.Email"/>
    <PropertyColumn Title="Jelszó:" Property="userpassword=>userpassword.Password"/>
</QuickGrid>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Név</th>
            <th>E-mail</th>
            <th>Jelszó</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in UserDB.User)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Password</td>
            </tr>
        }
    </tbody>
</table>

<div class="card-container">
    @foreach (var item in UserDB.User)
    {
        <div class="card">
            <div>@item.Id</div>
            <div>@item.Name</div>
            <div>@item.Email</div>
            <div>@item.Password</div>
        </div>
    }
</div>